/* line 4, ../scss/_general.scss */
html, body {
  height: 100%;
}

/* line 8, ../scss/_general.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #083f06;
  color: #666666;
  font-size: 15px;
  position: relative;
  height: 100%;
  background: url(../images/fondo_textura.jpg) center top \9;
}

/* line 19, ../scss/_general.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  *behavior: url(./js/htc/boxsizing.htc);
}

/* line 26, ../scss/_general.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 33, ../scss/_general.scss */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

/* line 41, ../scss/_general.scss */
h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

/* line 49, ../scss/_general.scss */
.clear {
  clear: both;
}

/* line 53, ../scss/_general.scss */
.list_none {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* line 64, ../scss/_general.scss */
header, aside, nav, section, article {
  display: block;
  position: relative;
}

/* line 69, ../scss/_general.scss */
a.full {
  width: 100%;
  height: 100%;
  background: url(../images/bg-a.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* line 79, ../scss/_general.scss */
a {
  text-decoration: none;
}

/* line 83, ../scss/_general.scss */
span.bolder {
  font-weight: bold;
}


#loader
{
  /*display: none;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 999999;
  text-align: center;
}

#loader.imagen{
  width: 30%;
  height: auto;
  position: relative;
  max-width: 220px;
  margin-top: 23%;
  /*top: 50%;
  left: 40%;*/
  display: inline-block;
}


.btn_play, .btn_stop{
  width: 35px;
  position: absolute;
  top: 5%;
  z-index: 555555;
  cursor: pointer;
  display: none;
}

.btn_play{
  left: 20px;
}

.btn_stop{
  left: 60px;
}

#cancion{
  opacity: 0;
  font-size: 10px;
  color: #ffffff;
  font-family: arial;
  padding-top: 5px;
  padding-left: 10px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}


section.wrapper{
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  /*min-width: 1000px;
  min-height: 662px;*/
  background: url(../images/fondo_textura.jpg) center bottom;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  behavior: url(/js/htc/backgroundsize.htc) \9;
  float: left;
  font-family: arial;
  background: url(../images/fondo_textura.jpg) center center no-repeat #083f06 \9;
  overflow: hidden;
}

section section.home, section section.arbol, section section.holidays, section section.contacto{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
}


section section.arbol, section section.holidays, section section.contacto{
  display: none;
}

section section.home .texto_intro{
  width: 680px;
  height: 170px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -340px;
  color: #ffffff;
  text-align: center;
  display: none;
}

section section.home .texto_intro .nombre{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

section section.home .texto_intro .parrafo{
  font-size: 25px;
  font-weight: lighter;
}

section section.home .titulo{
  width: 0;
  max-width: 520px !important;
  position: relative;
  margin: 20% auto 0;
  cursor: pointer;
}

section section.home .titulo.activo{
  margin-top: 27%;
}

section section.home .zona_regalo{
  width: 260px;
  max-width: 260px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -130px;
  cursor: pointer;
}

section section.home .zona_regalo img.regalo{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

section section.home .zona_regalo img.regalo2{
  width: 59%;
  position: absolute;
  top: 0;
  left: 20.7%;
}

section section.home .zona_regalo img.flecha{
  width: 15%;
  max-width: 41px;
  position: absolute;
  top: -4%;
  right: 3%;
}


section section.home .zona_regalo:hover img.regalo2 {
  opacity: 0;
  -ms-transform: scale(2, 2);
  /* IE 9 */
  -webkit-transform: scale(2, 2);
  /* Chrome, Safari, Opera */
  transform: scale(2, 2);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}



/* Seccion Arbol */


section section.arbol .content{
  width: 40%;
  max-width: 527px;
  /*height: 662px;*/
  position: absolute;
  top: 54%;
  left: 50%;
  margin-top: -331px;
  margin-left: -263px;
  /*background: url(../images/fondo_arbol_rojo.jpg);*/
}

section section.arbol .content img.fondo_arbol_rojo{
  position:relative; 
  z-index:1;
  opacity: 0;
}

section section.arbol .content img.regalo_de_arbol{
  width: 38.7%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -19%;
  z-index: 3;
}

section section.arbol .content .zona_regalo_de_arbol{
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 2;
}

section section.arbol .content .zona_regalo_de_arbol img.sombra_de_arbol{
  width: 1%;
  position: relative;
  margin: 50px auto 0;
  z-index: 2;
}


section section.arbol .content img.arbol_etiqueta{
  width: 2px;
  position: absolute;
  bottom: 19%;
  z-index: 3;
  left: 50%;
  margin-left: -1px;
  opacity: 0;
  z-index: 2
}



section section.arbol .word{
  position: absolute;
  z-index: 4;
  overflow: hidden;
  padding-top: 21%;
  z-index: 4;
}



section section.arbol .word.share{
  width: 15%;
  height: 5.5%;
  bottom: 31%;
  right: 61.8%;
}
section section.arbol .word.happy_holidays{
  width: 30.5%;
  height: 5%;
  bottom: 29.8%;
  right: 26.5%;
}
section section.arbol .word.people{
  width: 3.7%;
  height: 6.1%;
  bottom: 32.4%;
  right: 58.4%;
}
section section.arbol .word.time{
  width: 6.9%;
  height: 3%;
  bottom: 37.6%;
  right: 61.9%;
}
section section.arbol .word.together{
  width: 19.9%;
  height: 5.7%;
  bottom: 33.9%;
  right: 30.7%;
}
section section.arbol .word.friends{
  width: 6.8%;
  height: 16%;
  bottom: 34.4%;
  right: 51%;
}
section section.arbol .word.give{
  width: 8.1%;
  height: 8.6%;
  bottom: 37.4%;
  right: 69.5%;
}
section section.arbol .word.joy{
  width: 9%;
  height: 8.9%;
  bottom: 36.4%;
  right: 20.8%;
}
section section.arbol .word.peace{
  width: 11.9%;
  height: 3.8%;
  bottom: 41.2%;
  right: 58.9%;
}
section section.arbol .word.laughter{
  width: 22.6%;
  height: 5.5%;
  bottom: 39.6%;
  right: 28.5%;
}
section section.arbol .word.humanity{
  width: 17%;
  height: 4.2%;
  bottom: 45.8%;
  right: 58.4%;
}
section section.arbol .word.faith{
  width: 6.8%;
  height: 9.7%;
  bottom: 44.3%;
  right: 39.1%;
}
section section.arbol .word.girls{
  width: 8.7%;
  height: 3.8%;
  bottom: 46.3%;
  right: 29.5%;
}
section section.arbol .word.hope{
  width: 13.4%;
  height: 5.7%;
  bottom: 49.1%;
  right: 60.3%;
}
section section.arbol .word.warmth{
  width: 12.1%;
  height: 3%;
  bottom: 51.4%;
  right: 47.4%;
}
section section.arbol .word.care{
  width: 11.55%;
  height: 3.9%;
  bottom: 50.4%;
  right: 27%;
}
section section.arbol .word.iam{
  width: 40.2%;
  height: 3.9%;
  bottom: 55.4%;
  right: 29.9%;
}
section section.arbol .word.kind{
  width: 9.3%;
  height: 4.1%;
  bottom: 60%;
  right: 34.5%;
}
section section.arbol .word.life{
  width: 7%;
  height: 3.6%;
  bottom: 62.3%;
  right: 47.8%;
}
section section.arbol .word.happy{
  width: 10.6%;
  height: 13.9%;
  bottom: 60.1%;
  right: 53.3%;
}
section section.arbol .word.strength{
  width: 14.2%;
  height: 3.6%;
  bottom: 66.2%;
  right: 42.5%;
}
section section.arbol .word.world{
  width: 6.5%;
  height: 10.6%;
  bottom: 64.5%;
  right: 35.5%;
}
section section.arbol .word.good{
  width: 9.3%;
  height: 4.7%;
  bottom: 70%;
  right: 42.3%;
}
section section.arbol .word.family{
  width: 14.4%;
  height: 4.6%;
  bottom: 74.1%;
  right: 46%;
}
section section.arbol .word.new{
  width: 7.7%;
  height: 2.5%;
  bottom: 76.1%;
  right: 37.6%;
}
section section.arbol .word.year{
  width: 15%;
  height: 6%;
  bottom: 78%;
  right: 42%;
}
section section.arbol .word.love{
  width: 6.3%;
  height: 7.6%;
  bottom: 84.4%;
  right: 47.5%;
}
section section.arbol .word.estrella{
  width: 8%;
  height: 6.1%;
  top: 0.6%;
  right: 46.1%;
}

section section.arbol .word.estrella img.estrella1{
  position: relative;
  z-index: 3;

}

section section.arbol .word.estrella img.estrella2{
  position: absolute;
  z-index: 2;
  display: none;
  top: 0;
  left: 0;
}


section section.arbol .word.estrella:hover img.estrella2, section section.arbol .word.estrella img.estrella2.activo{
  opacity: 0;
  -ms-transform: scale(2, 2);
  /* IE 9 */
  -webkit-transform: scale(2, 2);
  /* Chrome, Safari, Opera */
  transform: scale(2, 2);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}



/* Seccion Holidays */

section section.holidays .titulo{
  width: 50%;
  max-width: 381px;
  position: relative;
  margin: -300px auto 0;
}

section section.holidays .texto{
  width: 600px;
  height: auto;
  overflow: hidden;
  position: absolute;
  bottom: 40%;
  right: 50%;
  margin-right: -300px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
  display: none;
}

section section.holidays .texto span.nombre{
  font-weight: bold;
  display: none;
}

section section.holidays .logo_sansilvestre{
  width: 100%;
  height: 63px;
  line-height: 63px;
  position: absolute;
  bottom: 12%;
  left: 0;
  display: none;
  color: #ffffff;
  text-align: center;
  
}

section section.holidays .logo_sansilvestre span{
  width: auto;
  vertical-align: middle;
  line-height: 19px;
  display: inline-block;
  font-weight: bold;
}

section section.holidays .logo_sansilvestre span.nombre{
  width: auto;
  color: #ffffff;
  font-size: 19px;
  margin-right: 35px;
  padding-bottom: 7px;
  display: none;
}

section section.holidays .logo_sansilvestre img{
}

section section.holidays .btn_share_card{
  width: 135px;
  height: 41px;
  position: absolute;
  right: -135px;
  bottom: 4%;
  cursor: pointer;
}


section section.holidays .btn_share_card img.share1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

section section.holidays .btn_share_card img.share2{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

section section.holidays .btn_share_card:hover img.share2 {
  opacity: 0;
  -ms-transform: scale(2, 2);
  /* IE 9 */
  -webkit-transform: scale(2, 2);
  /* Chrome, Safari, Opera */
  transform: scale(2, 2);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}



/* Seccion Contacto */





section .layer_gracias {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg_layer_producto.png);
    z-index: 999999;
    display: none;
    top: 0;
    left: 0;
}

section .layer_gracias .caja_imagen{
    width: 436px;
    height: 278px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    visibility: hidden;
    margin-left: -218px;
    margin-top: -139px;
    cursor: pointer; 
}

section .layer_gracias img {
    max-width: 436px;
}


section section.contacto .content{
  width: 1000px;
  height: 630px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -315px;
  margin-left: -500px;
}

section section.contacto .content .borde{
  width: 1px;
  height: 570px;
  position: absolute;
  top: 40px;
  left: 50%;
  background: url(../images/borde.png);
}


section section.contacto .content .sideleft{
  width: 50%;
  height: auto;
  float: left;
  position: relative;
  padding-left: 20px;
  margin-top: -90%;
}


section section.contacto .content .sideleft form .caja{
  width: 76%;
  height: auto;
  float: left;
  margin-bottom: 51px;
}

section section.contacto .content .sideleft form .caja .titulo{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

section section.contacto .content .sideleft form .caja .titulo.personalized{
  margin-bottom: 12px;
}

section section.contacto .content .sideleft form .caja .titulo img{
  width: auto;
}

section section.contacto .content .sideleft form .caja input{
  width: 100%;
  height: 37px;
  float: left;
  margin-bottom: 15px;
  border: 1px solid #BACF1D;
  background: none;
  color: #ffffff;
  font-family: arial;
  padding: 5px 7px;
  font-size: 14px;
}

section section.contacto .content .sideleft form .caja textarea{
  width: 100%;
  height: 127px;
  float: left;
  margin-bottom: 7px;
  border: 1px solid #BACF1D;
  background: none;
  color: #ffffff;
  font-family: arial;
  padding: 5px 7px;
  font-size: 14px;
}

section section.contacto .content .sideleft form .caja .contador{
  width: 105px;
  height: 32px;
  float: left;
  margin-top: 14px;
  position: relative;
  color: #ffffff;
  font-size: 14px;
  opacity: 0.5;
}

section section.contacto .content .sideleft form .caja .btn_send{
  width: 105px;
  height: 37px;
  float: right;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}


section section.contacto .content .sideleft form .caja .btn_send img.send1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

section section.contacto .content .sideleft form .caja .btn_send img.send2{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

section section.contacto .content .sideleft form .caja .btn_send:hover img.send2 {
  opacity: 0;
  -ms-transform: scale(2, 2);
  /* IE 9 */
  -webkit-transform: scale(2, 2);
  /* Chrome, Safari, Opera */
  transform: scale(2, 2);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.sideleft .note{
  opacity: 0;
  display: none !important;
}


section section.contacto .content .sideright{
  width: 50%;
  height: 630px;
  float: right;
  position: relative;
  text-align: center;
  margin-top: -90%;
}

section section.contacto .content .sideright .titulo{
  width: 99px;
  position: relative;
  margin: 70px 0 50px;
  display: inline-block;
}

section section.contacto .content .sideright .holidays_titulo{
  width: 255px;
  position: relative;
  margin: 20px 0;
  display: inline-block;
}

section section.contacto .content .sideright .texto{
  width: 86%;
  position: relative;
  margin: 20px 0;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

section section.contacto .content .sideright .texto span.nombre{
  display: none;
}

section section.contacto .content .sideright .logo_sansilvestre{
  width: 228px;
  position: relative;
  margin: 50px 0 0;
  display: inline-block;
}








@media screen and (max-width: 1200px){
  section section.arbol .content{
    width: 34%;
    left: 33%;
    margin-left: 0;
    margin-top: 0;
    top: auto;
    bottom: 1%;
  }
}

@media screen and (max-width: 1024px){

   section section.arbol .content{
    width: 46%;
    left: 27%;
  }

  section section.holidays .titulo{
    margin-top: 10%;
  }

  section section.contacto .content{
    height: 540px;
    margin-top: -270px; 
  }

  .btn_play, .btn_stop{
    top: 10px;
  }

  section section.contacto .content .borde{
    height: 474px;
  }

  section section.contacto .content{
    width: 90%;
    height: auto;
    margin-left: 0;
    left: 5%;
    margin-top: 0;
    top: 0;
  }
  section section.contacto .content .borde{
    display: none;
  }
  section section.contacto .content .sideleft{
    width: 96%;
    margin-top: 0;
  }
  section section.contacto .content .sideleft form .caja{
    width: 100%;
    margin-bottom: 20px;
  }
  section section.contacto .content .sideright{
    width: 96%;
    margin-top: 0;
  }

  section section.contacto .content .sideright{
    height: auto;
  }
  section .layer_gracias .caja_imagen{
    top: 10%;
    width: 50%;
    margin-top: 0;
    margin-left: 0;
    left: 25%;
  }

  section section.holidays .texto span br{
    display: none;
  }
}



@media screen and (max-width: 960px){

  .btn_play, .btn_stop{
    top: 15px;
  }

   section section.contacto .content .sideleft form .caja{
    margin-bottom: 10px;
  }
  
  section .layer_gracias .caja_imagen{
    top: 5%;
    width: 50%;
    margin-top: 0;
    margin-left: 0;
    left: 25%;
  }
}




@media screen and (max-width: 1024px) and (orientation: landscape){
  section section.holidays .titulo{
    width: 26%;
  }
  section section.holidays .texto{
    bottom: 38%;
    font-size: 16px;
  }

  section section.holidays .logo_sansilvestre{
    bottom: 16%;
  }

  section section.holidays .logo_sansilvestre span{
    width: 28%;
  }
  section section.holidays .logo_sansilvestre span.nombre{
    font-size: 14px;
  }
}






@media screen and (max-width: 800px) and (orientation: landscape){
  section section.arbol .content{
    width: 34%;
    left: 33%;
    margin-left: 0;
    margin-top: 0;
    top: auto;
    bottom: -5%;
  }

  section section.home .titulo{
    margin-top: 5%;
  }
  section section.holidays .titulo{
    margin-top: 3%;
  }

  section section.home .zona_regalo{
    width: 30%;
    margin-left: 0;
    left: 35%;
    bottom: 0;
  }

  
  section section.contacto .content .sideright{
    height: auto;
    padding-bottom: 15px;
  }
  section section.contacto .content .sideright .titulo{
    margin: 10px 0 20px;
  }

  section section.holidays .logo_sansilvestre span{
    width: 21%;
  }
  section section.holidays .logo_sansilvestre span.nombre{
    margin-right: 18px;
  }

  section section.holidays .texto{
    width: 88%;
    left: 6%;
    font-size: 14px;
    bottom: 34%;
  }
  section section.holidays .logo_sansilvestre{
    bottom: 8%
  }
}







@media screen and (max-width: 800px) and (orientation: portrait){
  section section.arbol .content{
    width: 90%;
    margin-top: 0;
    top: auto;
    bottom: 9%;
    left: 50%;
    margin-left: -263px;
  }

  section section.home .titulo{
    margin-top: 40%;
  }
  section section.holidays .titulo{
    margin-top: 20%;
  }

  section .layer_gracias .caja_imagen{
    top: 15%;
    width: 80%;
    margin-top: 0;
    margin-left: -218px;
    left:50%;
    max-width: 436px;
  }
  section section.holidays .logo_sansilvestre span{
    width: 28%;
  }

  section section.holidays .texto span br{
    display: inline-block;
  }
}


@media screen and (max-width: 700px){
  section section.holidays .texto{
    width: 80%;
    height: auto;
    margin-left: 0;
    left: 10%;
  }

  section section.holidays .logo_sansilvestre{
    bottom: 16%;
  }

  
  section section.holidays .logo_sansilvestre span.nombre{
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) and (orientation: landscape){
  section section.holidays .logo_sansilvestre{
    bottom: 7%;
  }
}

@media screen and (max-width: 527px) and (orientation: portrait){
  section section.arbol .content{
    width: 90%;
    left: 5%;
    margin-left: 0;
    margin-top: 0;
    top: auto;
    bottom: 9%;
  }
}


@media screen and (max-width: 480px){
  section section.contacto .content .sideright .titulo{
    margin: 10px 0 20px;
  }

  section section.holidays .texto{
    font-size: 14px;
  }

  section section.contacto .content .sideright .texto{
    font-size: 15px;
  }

  section .layer_gracias .caja_imagen{
    top: 15%;
    width: 90%;
    margin-top: 0;
    margin-left: 0;
    left:5%;
  }

  
}

@media screen and (max-width: 480px) and (orientation: landscape){
  section section.holidays .texto{
    width: 96%;
    left: 2%;
    font-size: 13px;
    bottom: 33%;
  }

  section section.holidays .logo_sansilvestre{
    bottom: 7%
  }
  section .layer_gracias .caja_imagen{
    width: 56%;
    top: 3%;
    left: 22%;
  }

}




@media screen and (max-width: 320px){
  section section.home .zona_regalo{
    width: 54%;
    margin-left: 0;
    left: 23%;
    bottom: 1%;
  }
  section section.arbol .content{
    width: 80%;
    left: 10%;
    bottom: 0px;
  }
  section section.holidays .texto span br{
    display: none;
  }
  section section.holidays .texto{
    width: 96%;
    left: 2%;
    font-size: 13px;
    bottom: 35%;
  }


}





